<!doctype html>
<html lang="en">

<head>

    <title>Reviews Sentiment Analyzer</title>
</head>


<body>
        <h2>Product Reviews Sentiment Analyzer</h2>

        <form action="results">
                    
                    <label for="url"> Enter URL of Product :  </label>
                    <input type="url" name='url' id="url" placeholder='Please enter a valid url'><br><br>
                    
                    <label for="num"> Enter No. of Reviews :  </label>
                    <input type="number" name='num' id="num" placeholder='Please enter the no. of reviews you want to analyze'><br><br>

                    <input type="submit" value="Predict">
        </form>

</body>

</html>